@use "../base/colors.scss" as *;

.button-default {
    width: 280px;
    height: 60px;
    background-color: $blue;
    color: $white;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    font-weight: 500;
}

.button-invert{
    width: 280px;
    height: 60px;
    background-color: #e7eefd;
    color: $blue;
    border-radius: 10px;
    border: none;
    font-size: 21px;
    cursor: pointer;
    font-weight: 500;    
}

@mixin gradient-background {
    background: linear-gradient(0.833turn, rgba(235, 240, 252, 1) 0%, rgba(227, 236, 253, 1) 25%, rgba(220, 229, 253, 1) 51%, rgba(219, 235, 250, 1) 76%, rgba(234, 239, 250, 1) 100%);
}


.title-default {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin-top: 120px;
    margin-bottom: 50px;
    color: $blue;
}


@media screen and (max-width: 640px) {
    .title-default {
        font-size: 26px;
        margin-top: 80px;
        margin-bottom: 30px;
    }
    
}