@use "../base/colors.scss" as *;

.button-default {
    width: 280px;
    height: 60px;
    background-color: $blue;
    color: $white;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}

.button-invert{
    width: 280px;
    height: 60px;
    background-color: #e7eefd;
    color: $blue;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

@mixin gradient-background {
    background: linear-gradient(to right, #e9effa, #e9effa, #dce7fd, #dce7fd);
}


.title-default {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 40px;
    color: $blue;
}