@use "../base/colors.scss" as *;
@use "../base/mixins.scss" as *;

.benefits{
    margin-top: 70px;
    &__wrapper{
        padding: 40px;
        border-radius: 10px;
        @include gradient-background;
    }
    &-title{
        margin: 0;
        font-weight: 500;
        font-size: 30px;
        line-height: 38px;
        margin-bottom: 30px;
    }
    &-items{
        display: flex;
        column-gap: 40px;
        justify-content: center;
        &__item{
            width: 500px;
            height: 260px;
            border-radius: 10px;
            padding: 20px;
            background-color: $white;
            display: flex;
            flex-direction: column;
            align-items: center;            
        }
    }
    &-item{
        &__image{
            width: 60px;
        }
        &__title{
            font-weight: 500;
            color: $grey;
            font-size: 30px;
            line-height: 38px;
            margin-bottom: 15px;
        }
        &__list{
            list-style-type: none;
            text-align: center;
            li{
                font-size: 16px;
                line-height: 24px;
                color: $grey;
                font-weight: 500;
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .benefits{
        &-items{
            column-gap: 20px;
        }
    }
}

@media screen and (max-width: 960px) {
    .benefits{
        &-title{
            font-size: 25px;
            line-height: 31px;
        }
        &__wrapper{
            width: 460px;
            margin: 0 auto;
            padding: 25px;
        }
        &-items{
            flex-wrap: wrap;
            row-gap: 20px;
            &__item{
                width: 340px;
                height: 220px;
                padding: 20px;
            }
        }
        &-item{
            &__image{
                width: 40px;
                height: 40px;
            }
            &__title{
                font-size: 25px;
                line-height: 31px;
                margin-bottom: 10px;
                margin-top: 5px;
            }
        }

    }
}

@media screen and (max-width: 480px) {
    .benefits{
        &__wrapper{
            width: 340px;
            height: 580px;
            padding: 30px 12px;
        }
        &-title{
            font-size: 20px;
            line-height: 25px;
        }
        &-items{
            row-gap: 10px;
        }
    }
}