@use "../base/colors.scss" as *;
@use "../base/mixins.scss" as *;

.splitted-card {
	position: relative;
	border-radius: 10px;
	overflow: hidden;
	&__text_first {
		display: block;
		width: 100%;
		height: 100px;
		@include gradient-background;
	}
	&__image {
		display: block;
		margin: 0 auto;
		width: 120px;
		height: 120px;
		background-color: rgb(255, 225, 0);
		border-radius: 100px;
		position: absolute;
		top: 40px;
		left: 50%;
		transform: translateX(-50%);
		border: 2px solid $white;
	}
	&__text_second {
		background-color: #fafafa;
		height: 320px;
		padding-top: 75px;
		text-align: center;
	}
}

@media screen and (max-width: 960px) {
	.splitted-card{
		&__text_second{
			padding-top: 65px;
		}
	}
}

@media screen and (max-width: 480px) {
	.splitted-card{
		&__text_first{
			height: 80px;
		}
		&__image{
			top: 20px;
		}
		&__text_second{
			padding-top: 60px;
		}
	}
}