.companies{
    margin-bottom: 120px;
    &__wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 50px;
    }
    &__item{
        width: 160px;
    }
}