@use "../base/colors.scss" as *;
@use "../base/mixins.scss" as *;

.header{
    padding-top: 140px;
    padding-bottom: 50px;
    overflow: hidden;
    &-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-text{
        &__title{
            color: $blue;
            font-size: 57px;
            font-weight: 700;
            line-height: 66px;
        }
        &__description {
            color: $grey;
            font-size: 20px;
            line-height: 30px;
            margin-top: 20px;
            font-weight: 300;
        }
    }
    &-button{
        margin-top: 60px;
        width: 280px;
        height: 60px;
    }
    &-image{
        position: relative;
        margin-bottom: -4px;
        &__doctors{
            position: relative;
            transform: translateY(200%);
            animation: slideInUp1 2s ease forwards;
            .yandex{
                opacity: 0;
                position: absolute;
                right: 0;
                top: 0;
                animation: fadeIn1 1s 2.5s ease forwards;
            }
        }
        &__wrapper{
            position: absolute;
            display: flex;
            column-gap: 30px;
            bottom: 40px;
            left: 15%;
            transform: translateY(500%);
            animation: slideInUp1 2s 1.3s ease forwards;
            &-item{
                width: 240px;
                height: 60px;
                color: $white;
                border-radius: 10px;
                color: $grey;
                font-weight: 500;
                font-size: 14px;
                background-color: $white;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
    .advantages{
        width: 100%;
        display: flex;
        column-gap: 120px;
        background-color: $white;
        border-radius: 10px;
        min-height: 150px;
        padding: 15px 30px;
        &__item{
            display: flex;
            flex-direction: column;
            list-style-type: none;
            &-title{
                font-size: 50px;
                line-height: 55px;
                font-weight: 500;
                color: $blue;
            }
            &-subtitle{
                font-size: 20px;
                line-height: 25px;
                font-weight: 500;
                color: $grey;
            }
        }
    }
}

@keyframes slideInUp1 {
    from {
        transform: translateY(200%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes fadeIn1 {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


@media screen and (max-width: 1200px) {
    .header {
        &-text{
            &__title{
                font-size: 40px;
                line-height: 44px;
            }
            &__description{
                font-size: 15px;
                line-height: 23px;
            }
        }
        &-image{
            .doctors{
                width: 575px;
            }
            &__wrapper{
                left: 8%;
            }
        }
        &-button{
            margin-top: 70px;
        }
        .advantages{
            column-gap: 70px;
        }
    }
}


@media screen and (max-width: 980px) {
    .header{
        .advantages {
            column-gap: 65px;
        }
    }
}

@media screen and (max-width: 960px) {
    .header{
        padding-top: 100px;
        &-wrapper {
            flex-direction: column;
        }
        &-text{
            text-align: center;
            &__description {
                width: 450px;
                margin: 0 auto;
                margin-top: 20px;
            }
        }
        &-button{
            margin-top: 20px;
        }
        &-image{
            margin-top: 40px;
            .doctors{
                width: 460px;
            }
            &__doctors{
                .yandex {
                    bottom: 40px;
                    top: auto;
                    right: 20px;
                    width: 35px;
                }
            }
            &__wrapper{
                align-items: flex-start;
                &-item{
                    width: 100%;
                    height: 100%;
                    font-size: 10px;
                    line-height: 15px;
                    padding: 7px;
                }
            }
        }
        .advantages{
            flex-wrap: wrap;
            justify-content: center;
            column-gap: 0;
            row-gap: 10px;
            padding: 30px;
            &__item{
                justify-content: center;
                width: 200px;
                align-items: center;
                text-align: center;
                &-title{
                    font-size: 40px;
                    img{
                        height: 40px;
                    }
                }
                &-subtitle{
                    font-size: 14px;
                    line-height: 14px;
                }
            }
        }
    }
}

@media screen and (max-width: 640px) {
    .header{
        padding-top: 100px;
        &-wrapper {
            flex-direction: column;
        }
        &-text{
            text-align: center;
            &__title{
                width: 420px;
                font-size: 35px;
                line-height: 39px;
            }
        }
        .advantages{
            width: 460px;
            margin: 0 auto;
            &__item{
                justify-content: center;
                width: 200px;
                align-items: center;
                text-align: center;
                &-title{
                    font-size: 40px;
                    img{
                        height: 40px;
                    }
                }
                &-subtitle{
                    font-size: 14px;
                    line-height: 18px;
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .header{
        padding-bottom: 30px;
        &-text{
            text-align: center;
            margin: 0 auto;
            width: 330px;
            &__title{
                width: 100%;
                font-size: 35px;
                line-height: 39px;
                margin: 0 auto;
            }
            &__description{
                width: 100%;
            }
        }

        &-image{
            .doctors{
                width: 340px;
            }
            &__doctors{
                .yandex{
                    display: none;;
                }
            }
            &__wrapper{
                bottom: 15px;
                left: 0;
                column-gap: 10px;
                &-item{
                    min-width: 160px;
                }
            }
        }

        .advantages{
            width: 340px;
            padding: 20px 10px;
            &__item{
                width: 160px;
            }
        }
    }
}