@use "../base/colors.scss" as *;

.help{
    .subtitle-default{
        font-weight: 300;
        font-size: 20px;
        text-align: center;
        color: $grey;
        margin-bottom: 60px;
    }
    &-list{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 40px;
        &__item{
            width: 360px;
            height: 190px;
            border-radius: 10px;
            background-color: #fafafa;
            padding: 30px 20px;
            list-style-type: none;
            color: $grey;
            font-weight: 300;
            &-title{
                display: flex;
                justify-content: space-between;
                align-items: center;
                column-gap: 7px;
                margin-bottom: 10px;
                img{
                    width: 60px;
                }
                .title{
                    font-size: 20px;
                    line-height: 25px;
                    font-weight: 500;
                }                
            }
        }
    }
}


@media screen and (max-width: 1200px) {
    .help{
        &-list{
            &__item{
                width: 300px;
                &-title{
                    column-gap: 9px;
                }
            }
        }
    }
}

@media screen and (max-width: 960px) {
    .help{
        &-list{
            justify-content: center;
            align-items: center;
            column-gap: 20px;
            row-gap: 15px;
            &__item{
                width: 218px;
                height: 170px;
                padding: 15px 10px;
                &-title{
                    column-gap: 9px;
                    .title{
                        font-size: 17px;
                        line-height: 20px;
                    }
                    img {
                        width: 40px;
                    }
                }
                &-description{
                    font-size: 14px;
                    line-height: 16px;
                }
            }
        }
    }
}

@media screen and (max-width: 480px){
    .help{
        &-list{
            &__item{
                width: 340px;
                height: 130px;
            }
        }
        .subtitle-default{
            font-size: 16px;
            margin-bottom: 30px;
        }
    }
}