@use "../base/colors.scss" as *;

.mri{
    margin-bottom: 70px;
    .title-default{
        margin-top: 20px;
        margin-bottom: 60px;
    }
    &__wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 35px;
    }
    &-image-info{
        position: relative;
        img{
            width: 360px;
            border-radius: 10px;
        }
        .plus-data{
            position: absolute;
            width: 22px;
            height: 22px;
            border-radius: 50px;
            background-color: $orange;
            color: $grey;
            font-size: 18px;
            z-index: 5;
            &:nth-child(2){
                top: 80px;
                left: 150px;
            }
            &:nth-child(3){
                top: 115px;
                left: 190px;
            }
            &:nth-child(4){
                top: 150px;
                left: 220px;
            }
            &:nth-child(5){
                top: 170px;
                left: 130px;
            }
            &:nth-child(6){
                top: 220px;
                left: 180px;
            }   
            &__plus{
                display: flex;
                justify-content: center;
                align-items: center;
            }         
            &__information{
                position: absolute;
                font-weight: 500;
                color: $grey;
                font-size: 14px;
                line-height: 18px;
                background-color: #fafafa;
                border-radius: 10px;
                width: 280px;
                padding: 15px;
                text-align: center;
                top: -50px;
                left: -50%;
                font-size: 16px;
                font-weight: 300;
                transform: translateX(-50%);
            }
        }
    }
    &-information{
        &__title{
            font-weight: 500;
            color: $grey;
            font-size: 30px;
            line-height: 38px;
            margin-bottom: 15px;
        }
        &__description{
            font-weight: 500;
            color: $blue;
            font-size: 20px;
            line-height: 25px;
            margin-bottom: 30px;
        }   
    }
}

@media screen and (max-width: 1200px){
    .mri{
        &-image-info{
            img{
                width: 300px;
            }
            .plus-data{
                &:nth-child(2){
                    top: 70px;
                    left: 120px;
                }
                &:nth-child(3){
                    top: 50px;
                    left: 160px;
                }
                &:nth-child(4){
                    top: 130px;
                    left: 180px;
                }
                &:nth-child(5){
                    top: 140px;
                    left: 115px;
                }
                &:nth-child(6){
                    top: 180px;
                    left: 140px;
                }                   
            }
        }
    }
}

@media screen and (max-width: 960px) {
    .mri{
        &__wrapper{
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            row-gap: 20px;
        }
        &-information{
            &__title{
                font-size: 25px;
                line-height: 31px;
            }
            &__description{
                width: 320px;
                font-size: 16px;
                line-height: 20px;
            }
        }
    }
}