@use '../base/colors.scss' as *;
@use '../base/mixins.scss' as *;

.menu{
    width: 100%;
    padding: 20px 30px 0 30px;
    transition: 1s background-color;
    position: fixed;
    z-index: 10;    
    &_background {
        background-color: #fafafa;
    }
    &__wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 20px;   
    }
    &__logo_wrapper{
        width: 300px;
        img{
            width: 120px;
        }
    }
    &__list{
        list-style-type: none;
        display: flex;
        column-gap: 25px;
        &-item{
            a {
                text-decoration: none;
                color: $black;
                font-weight: 500;
            }
            &_active{
                a{
                    font-weight: 700;
                    color: #107496;
                    transition: 0.7s all;

                }
            }
        }
    }
    &__contacts{
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 30px;
        width: 300px;
        a {
            text-decoration: none;
            color: $blue;
            font-size: 20px;
            font-weight: 700;
        }
    }
    &-wrapper{
        display: flex;
        justify-content: center;
        column-gap: 15px;
        a {
            font-size: 18px;
        }
    }
}

hr {
    border: none;
    border-top: 2px solid $grey; 
    opacity: 0.5;
}