@use "../base/colors.scss" as *;

.prices {
    &__wrapper{
        display: flex;
        justify-content: space-between;
    }
    &-item{
        width: 560px;
        height: 420px;
        background-color: #fafafa;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        &__image{
            width: 60px;
            margin-bottom: 10px;
        }
        &__title{
            font-size: 30px;
            line-height: 38px;
            font-weight: 500;
            color: $grey;
            text-align: center;
        }
        &__subtitle{
            color: $grey;
            font-size: 14px;
            line-height: 21px;
            margin-bottom: 15px;
            font-weight: 500;
        }
        &__price{
            font-weight: 700;
            color: $blue;
            font-size: 30px;
            line-height: 38px;
            margin-bottom: 15px;
        }
        &__services{
            list-style-type: none;
            text-align: center;
            margin-bottom: 20px;
            &-item{
                color: $grey;
                font-size: 14px;
                line-height: 21px;
            }
        }
        &_main{
            border: 2px solid rgba($color: $blue, $alpha: 0.1);
        }
    }
}

@media screen and (max-width: 960px) {
    .prices{
        &__wrapper{
            flex-direction: column;
            row-gap: 30px;
            align-items: center;
        }
        &-item{
            width: 460px;
            height: 320px;
            &__image{
                width: 40px;
                margin-bottom: 5px;
            }
            &__title{
                font-size: 20px;
                line-height: 25px;
            }
            &__subtitle{
                font-size: 10px;
                line-height: 15px;
            }
            &__price{
                font-size: 20px;
                line-height: 25px;
            }
            &__services{
                &-item{
                    font-size: 12px;
                    line-height: 16px;
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .prices{
        &__wrapper{
            row-gap: 20px;
        }
        &-item{
            width: 340px;
            height: 320px;
        }
    }
}