@use "../base/colors.scss" as *;

.reception{
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 50px;
    }
    &-item{
        width: 260px;
        height: 400px;
        border-radius: 10px;
        background-color: #fafafa;
        overflow: hidden;
        &__image{
            position: relative;
        }
        &__photo{
            width: 100%;
            object-fit: cover;
            height: 160px;
        }
        &__period {
            position: absolute;
            right: 10px;
            bottom: 15px;
            border-radius: 100px;
            width: 40px;
            height: 40px;
            border: 2px solid $white;
            padding: 1px;
        }
        &__text{
            display: block;
            text-align: center;
            color: $grey;
            font-weight: 500;
            padding: 20px;
        }
        &__title{
            font-size: 20px;
            line-height: 25px;
            margin-bottom: 10px;
        }
        &__description{
            font-size: 14px;
            line-height: 21px;
        }
    }
    .rotate-90{
        transform: rotate(90deg);
    }
    .rotate-180{
        transform: rotate(180deg);
    }
    .rotate-270{
        transform: rotate(270deg);
    }
}

@media screen and (max-width: 1200px){
    .reception{
        &-item{
            width: 220px;
        }
    }
}

@media screen and (max-width: 960px){
    .reception{
        &__wrapper{
            gap: 20px;
            flex-wrap: wrap;
            justify-content: center;
        }
        &-item{
            &__text{
                padding: 18px;
            }
            &__photo{
                height: 90px;
            }
        }
    }
}

@media screen and (max-width: 640px){
    .reception{
        &-item{
            width: 210px;
            height: 310px;
            &__description{
                font-size: 13px;
                line-height: 17px;
            }
        }
    }
}

@media screen and (max-width: 480px){
    .reception{
        &-item{
            width: 340px;
            height: 320px;
            &__photo{
                height: 140px;
            }
        }
    }
}