@use "../base/colors.scss" as *;

.steps {
	&__wrapper {
		display: flex;
		justify-content: space-between;
	}
	&__item{
		width: 560px;
		height: 430px;
		&-title{
			text-align: center;
			padding-top: 30px;
			font-size: 25px;
			line-height: 31px;
			color: $grey;
			font-weight: 500;
		}
		&-name{
			display: block;
			width: 440px;
			font-size: 16px;
			line-height: 24px;
			color: $grey;
			font-weight: 500;
			margin: 10px auto;
		}
		button {
			margin-top: 20px;
		}
	}
	.splitted-card{
		&__text{
			&_first{
				height: 160px;
			}
		}
		&__image{
			top: 110px;
		}
	}
}

@media screen and (max-width: 1200px) {
	.steps{
		&__wrapper{
			justify-content: center;
			column-gap: 20px;
		}
		&__item{
			width: 400px;
			&-title{
				font-size: 20px;
				line-height: 25px;
			}
			&-name{
				width: 100%;
				padding: 0 15px;
			}
			button{
				margin-top: 10px;
			}
		}
	}
}

@media screen and (max-width: 960px) {
	.steps{
		&__wrapper{
			row-gap: 20px;
			flex-direction: column;
			align-items: center;
		}
	}
}

@media screen and (max-width: 640px) {
	.steps{
		&__item{
			width: 340px;
		}
	}
}