@use "/src/scss/base/normalize.scss";
@use "/src/scss/base/mixins.scss" as *;
@use "/src/scss/blocks/nav.scss";
@use "/src/scss/blocks/header.scss";
@use "/src/scss/blocks/rating.scss";
@use "/src/scss/blocks/help.scss";
@use "/src/scss/blocks/companies.scss";
@use "/src/scss/blocks/promo.scss";
@use "/src/scss/blocks/prices.scss";
@use "/src/scss/blocks/reception.scss";
@use "/src/scss/blocks/benefits.scss";
@use "/src/scss/blocks/mri.scss";
@use "/src/scss/blocks/video.scss";

@use "/src/scss/blocks/doctors.scss";
@use "/src/scss/blocks/steps.scss";
@use "/src/scss/blocks/accordion.scss";
@use "/src/scss/blocks/cards.scss";
@use "/src/scss/blocks/symptoms.scss";
@use "/src/scss/blocks/footer.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.main{
    position: relative;
    @include gradient-background;
}